node_modules
# typechain

hardhat.config.ts

#Hardhat files
cache
artifacts
typechain

README.md
scripts/README.md

node_modules
.env
coverage
coverage.json
# typechain
# typechain-types

# Hardhat files
# cache
# artifacts

